.list-content {
  margin: 50px;
}

.router .main {
  display: flex;
}

.router {
  background-color: mediumspringgreen;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.button-group {
  margin-left: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 20px;
  margin-right: 40px;
  border: 0.4px solid pink;
}

.select-style {
  padding: 10px;
  margin: 6px 0;
  border: 2px solid gainsboro;
  border-radius: 6px;
  font-size: 14px;
}
.select {
}

.form-content {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
}

.route-link {
  text-decoration: none;
}