.list-content {
  margin: 50px;
}

.router .main {
  display: flex;
}

.router {
  background-color: mediumspringgreen;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.button-group {
  margin-left: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 20px;
  margin-left: 50px;
  margin-top: 20px;
  border: .4px solid pink
}